/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-content {
  max-width: 1440px;
  padding: 16px;
  margin: 0 auto;
}

.h1 {
  text-align: center;
}
